#app_page_content
{
    position:relative;
    overflow:hidden !important;
    box-shadow: 0 -2px 6px rgba(0,0,0,0.1);
    /*background-color: var(--light-gray-color);*/
    height: auto;
    min-height: 30vw;
}

#page_content header{
    position: relative !important;
    z-index: 0 !important;
    border: none 1px green !important;
}

.dropdown-content a 
{
    color: black !important;
}

#jour_navigation {
    /*top: 65px !important; */
}