#app_page_content
{
    position:relative;
    overflow:hidden !important;
    background-color: var(--light-gray-color);
    height: auto;
    min-height: 30vw;
}

#page_content header{
    position: relative !important;
    z-index: 0 !important;
    border: solid 2px green !important;
}
